<div style="max-width:980px;margin:5px auto 10px auto;font-size:14px;">
    <div style="position:relative;padding: 0 0 67% 0;height:0;overflow:hidden;"><iframe
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            src="//www.fla-shop.com/visited-countries/embed/?st=AE%2CAT%2CBA%2CBE%2CCH%2CCN%2CCZ%2CDE%2CDK%2CEE%2CES%2CFI%2CFR%2CGB%2CHK%2CHR%2CHU%2CID%2CIT%2CJP%2CKR%2CLT%2CLV%2CMA%2CMY%2CNL%2CNO%2COM%2CPH%2CSE%2CSK%2CTH&vc=1c74a0&uc=ccd3d6&hc=40bfa6&bc=ffffff&ss=on"
            frameborder="0" scrolling="no"></iframe></div>Map by <a
        href="https://www.fla-shop.com/visited-countries/">Fla-shop.com</a>
</div>